<h1><%= "#{@game.player1.name} vs #{@game.player2.name}" %></h1>
<p><%= "#{@game.player2.name}'s health: #{@game.player2.health}" %></p>
<form class="" action="/attack_confirmation">
  <input type="submit" value="Attack">
</form>
